.modelo-individual-superior,
.modelo-individual-superior * {
  box-sizing: border-box;
}
.modelo-individual-superior {
  background: #ffffff;
  height: 1080px;
  position: relative;
}
.modelo-individual-superior .fondo {
  background: #1a2118;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.modelo-individual-superior .fondo-ventana-emergente {
  background: linear-gradient(
    0deg,
    rgba(31, 40, 29, 1) 3.5999756306409836%,
    rgba(65, 76, 62, 1) 98.0999767780304%
  );
  border-radius: 15px;
  width: 1805px;
  height: 838px;
  position: absolute;
  left: 57px;
  top: 242px;
  box-shadow: 0px 4px 22.4px 21px rgba(0, 0, 0, 0.25);
}
.modelo-individual-superior .a-adir-a-favs {
  width: 275px;
  height: 56px;
  position: static;
}
.modelo-individual-superior .fondo-boton-a-adir {
  background: #ffffff;
  border-radius: 15px;
  width: 275px;
  height: 56px;
  position: absolute;
  left: 471px;
  top: 933px;
}
.modelo-individual-superior .add {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 486px;
  top: 938px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .a-adir-a-favoritos {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 544px;
  top: 949px;
}
.modelo-individual-superior .compartir {
  width: 197px;
  height: 56px;
  position: static;
}
.modelo-individual-superior .fondo-boton-compartir {
  background: #ffffff;
  border-radius: 15px;
  width: 197px;
  height: 56px;
  position: absolute;
  left: 785px;
  top: 933px;
}
.modelo-individual-superior .share {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 800px;
  top: 938px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .compartir2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 858px;
  top: 949px;
}
.modelo-individual-superior .contenido {
  width: 1741px;
  height: 728px;
  position: static;
}
.modelo-individual-superior .modelo {
  width: 1046px;
  height: 728px;
  position: static;
}
.modelo-individual-superior .modelo2 {
  width: 1046px;
  height: 539px;
  position: absolute;
  left: 97px;
  top: 270px;
  object-fit: cover;
  aspect-ratio: 1046/539;
}
.modelo-individual-superior .herramientas-de-modelado {
  background: linear-gradient(
    180deg,
    rgba(2, 5, 2, 1) 0%,
    rgba(217, 217, 217, 1) 100%
  );
  border-radius: 1px;
  opacity: 0.1;
  width: 1046px;
  height: 105px;
  position: absolute;
  left: 97px;
  top: 704px;
}
.modelo-individual-superior .vr {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1036px;
  top: 769px;
  box-shadow: 0px 0px 5.6px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .pantalla-grande {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1096px;
  top: 776px;
  box-shadow: 0px 0px 5.6px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .capas {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 976px;
  top: 769px;
  box-shadow: 0px 0px 5.6px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .engranaje {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 915px;
  top: 771px;
  box-shadow: 0px 0px 5.6px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .ayuda {
  border-radius: 14px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 864px;
  top: 774px;
  box-shadow: 0px 0px 5.6px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .descargar {
  width: 275px;
  height: 56px;
  position: static;
}
.modelo-individual-superior .rectangle-15 {
  background: #00ff7c;
  border-radius: 15px;
  width: 275px;
  height: 56px;
  position: absolute;
  left: 157px;
  top: 942px;
}
.modelo-individual-superior .image-9 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 171px;
  top: 950px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .descargar-modelo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 230px;
  top: 958px;
}
.modelo-individual-superior .sugeridos {
  width: 595px;
  height: 559px;
  position: static;
}
.modelo-individual-superior .sugerido-1 {
  width: 553px;
  height: 122px;
  position: static;
}
.modelo-individual-superior .jake-subway-surfers {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 380px;
}
.modelo-individual-superior .sugerido-12 {
  border-radius: 22px;
  width: 305px;
  height: 122px;
  position: absolute;
  left: 1243px;
  top: 373px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 305/122;
}
.modelo-individual-superior ._13 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1615px;
  top: 442px;
}
.modelo-individual-superior ._614 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1700px;
  top: 442px;
}
.modelo-individual-superior .jennycontreras-75 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 412px;
  width: 113px;
  height: 15px;
}
.modelo-individual-superior .star-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1584px;
  top: 439px;
  overflow: visible;
}
.modelo-individual-superior .ojo-abierto-1-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1665px;
  top: 439px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .sugerido-2 {
  width: 595px;
  height: 122px;
  position: static;
}
.modelo-individual-superior .table-chair-plastic-5-mb {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 547px;
}
.modelo-individual-superior .sugerido-13 {
  border-radius: 22px;
  width: 305px;
  height: 122px;
  position: absolute;
  left: 1243px;
  top: 540px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 305/122;
}
.modelo-individual-superior ._185 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1615px;
  top: 609px;
}
.modelo-individual-superior ._35-k {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1700px;
  top: 609px;
}
.modelo-individual-superior .mehdi-shahsavan {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 579px;
  width: 113px;
  height: 15px;
}
.modelo-individual-superior .star-12 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1584px;
  top: 606px;
  overflow: visible;
}
.modelo-individual-superior .ojo-abierto-1-12 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1665px;
  top: 606px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .sugerido-3 {
  width: 527px;
  height: 122px;
  position: static;
}
.modelo-individual-superior .goku-super-saiyan-3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 714px;
}
.modelo-individual-superior .sugerido-14 {
  border-radius: 22px;
  width: 305px;
  height: 122px;
  position: absolute;
  left: 1243px;
  top: 707px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 305/122;
}
.modelo-individual-superior ._1852 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1615px;
  top: 776px;
}
.modelo-individual-superior ._35-k2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1700px;
  top: 776px;
}
.modelo-individual-superior .akin {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1584px;
  top: 746px;
  width: 113px;
  height: 15px;
}
.modelo-individual-superior .star-13 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1584px;
  top: 773px;
  overflow: visible;
}
.modelo-individual-superior .ojo-abierto-1-13 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1665px;
  top: 773px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .modelos-sugeridos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1360px;
  top: 270px;
}
.modelo-individual-superior .perfil {
  width: 160px;
  height: 95px;
  position: static;
}
.modelo-individual-superior .seguir {
  width: 101px;
  height: 31px;
  position: static;
}
.modelo-individual-superior .rectangle-14 {
  background: #62ffa1;
  border-radius: 8px;
  border-style: solid;
  border-color: #1a2118;
  border-width: 3px;
  width: 101px;
  height: 31px;
  position: absolute;
  left: 156px;
  top: 891px;
}
.modelo-individual-superior .seguir2 {
  color: #1a2118;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 169px;
  top: 897px;
  width: 54px;
  height: 19px;
}
.modelo-individual-superior .image-8 {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 223px;
  top: 897px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior ._1-oooo-j-0-y {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 172px;
  top: 866px;
}
.modelo-individual-superior .image-7 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 97px;
  top: 874px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .plankton {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 829px;
  width: 110px;
  height: 27px;
}
.modelo-individual-superior .estadisticas-modelo {
  width: 199.55px;
  height: 35px;
  position: static;
}
.modelo-individual-superior ._132 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 959px;
  top: 830px;
}
.modelo-individual-superior ._6142 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1079.55px;
  top: 829px;
}
.modelo-individual-superior .star-2 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 915px;
  top: 823px;
  overflow: visible;
}
.modelo-individual-superior .ojo-abierto-1-2 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 1036px;
  top: 823px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .header {
  width: 1731px;
  height: 180px;
  position: static;
}
.modelo-individual-superior .logo-instance {
  position: absolute !important;
  left: 102px !important;
  top: 4px !important;
}
.modelo-individual-superior .navbar-grupo {
  width: 853px;
  height: 65px;
  position: static;
}
.modelo-individual-superior .rectangle-13 {
  background: rgba(255, 250, 250, 0);
  border-radius: 32px;
  border-style: solid;
  border-color: #97979b;
  border-width: 3px;
  width: 853px;
  height: 65px;
  position: absolute;
  left: 385px;
  top: 81px;
}
.modelo-individual-superior .search {
  color: #97979b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 486px;
  top: 95px;
  width: 149px;
  height: 39px;
}
.modelo-individual-superior .vector {
  width: 2.1%;
  height: 3.73%;
  position: absolute;
  right: 76.44%;
  left: 21.46%;
  bottom: 87.66%;
  top: 8.61%;
  overflow: visible;
}
.modelo-individual-superior .carrito {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1299px;
  top: 87px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .sign-up-grupo {
  width: 174px;
  height: 55px;
  position: static;
}
.modelo-individual-superior .rectangle-12 {
  background: #404044;
  border-radius: 8px;
  border-style: solid;
  border-color: #1a2118;
  border-width: 3px;
  width: 174px;
  height: 55px;
  position: absolute;
  left: 1416px;
  top: 86px;
}
.modelo-individual-superior .sign-up {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1442px;
  top: 101px;
  width: 88px;
  height: 39px;
}
.modelo-individual-superior .image-5 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1530px;
  top: 89px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .sign-in-grupo {
  width: 174px;
  height: 55px;
  position: static;
}
.modelo-individual-superior .rectangle-142 {
  background: #62ffa1;
  border-radius: 8px;
  border-style: solid;
  border-color: #1a2118;
  border-width: 3px;
  width: 174px;
  height: 55px;
  position: absolute;
  left: 1659px;
  top: 86px;
}
.modelo-individual-superior .sign-in {
  color: #1a2118;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1680px;
  top: 101px;
  width: 93px;
  height: 39px;
}
.modelo-individual-superior .image-6 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1773px;
  top: 90px;
  object-fit: cover;
  aspect-ratio: 1;
}
.modelo-individual-superior .image-10 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 1803px;
  top: 993px;
  box-shadow: 0px 0px 12.3px 0px rgba(255, 255, 255, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
