.logo-art-room-definitivo-8,
.logo-art-room-definitivo-8 * {
  box-sizing: border-box;
}
.logo-art-room-definitivo-8 {
  width: auto;
  height: 300px;
  position: relative;
  aspect-ratio: 1;
}
.logo-art-room-definitivo-8 .logo-art-room-definitivo-88 {
  width: 360px;
  height: auto;
}
