.sign-up-button,
.sign-up-button * {
  box-sizing: border-box;
}
.sign-up-button {
  width: 174px;
  height: 55px;
  position: relative;
}
.sign-up-button .rectangle-7 {
  background: #404044;
  border-radius: 8px;
  border-style: solid;
  border-color: #1a2118;
  border-width: 3px;
  width: 174px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.sign-up-button .sign-up {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 26px;
  top: 15px;
  width: 88px;
  height: 39px;
}
.sign-up-button .image-2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 114px;
  top: 3px;
  object-fit: cover;
  aspect-ratio: 1;
}
