@import "../shared.css";

.dashboard-usuario,
.dashboard-usuario * {
  box-sizing: border-box;
}
.dashboard-usuario {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Inter-Bold", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 700;
}
.logo-art-room-definitivo-22 {
  order: -2;
}
.dashboard-usuario .dashboard-izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #414c3e;
  width: 60%;
}
.dashboard-usuario .dashboard-izq .dashboard-historial {
  display: flex;
  flex-direction: column;
  background: #414c3e;
  width: 100%;
  padding: 10px;
}
.dashboard-usuario .dashboard-izq .dashboard-historial .button {
  width: 75%;
  white-space: normal;
  word-wrap: break-word;
}
.dashboard-usuario .dashboard-izq .dashboard-perfil {
  display: flex;
  flex-direction: column;
  background: #414c3e;
  width: 100%;
  padding: 10px;
}
.dashboard-usuario .dashboard-izq .dashboard-perfil .arriba-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #414c3e;
  width: 100%;
  padding: 10px;
}
.dashboard-usuario .dashboard-izq .dashboard-perfil .profile-photo {
  width: 25%;
  max-width: 128px;
  min-width: 64px;
  height: auto;
}
.dashboard-usuario .dashboard-dcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #414c3e;
  width: 20%;
  height: 266px;
  justify-content: space-evenly;
}
.dashboard-usuario .dashboard-dcha .button {
  width: 75%;
  white-space: normal; /* Permite que el texto se ajuste a varias líneas */
  word-wrap: break-word; /* Fuerza el salto de línea si es necesario */
}
.dashboard-usuario .dashboard-dcha .delete-account {
  color: #1A2118;
  background-color: #b80f0f;
}
.dashboard-usuario .change-password {
  color: #ffffff;
  text-align: left;
}
.dashboard-usuario .add-your-social-networks {
  color: #ffffff;
  text-align: left;
}
.dashboard-usuario .divisory-line {
  background: #97979b;
  width: 50%;
  height: 3px;
  border-radius: 10px;
  margin-top: 1lh;
  margin-bottom: 1lh;
}
.dashboard-usuario a {
  color: #0f130e;
  font-weight: 700;
}
.dashboard-usuario .assets-grid {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* Tres columnas */
  gap: 1rem; /* Espaciado entre los elementos */
}
.dashboard-usuario .asset-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #414c3e;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.dashboard-usuario .asset-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}
.dashboard-usuario .asset-image {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}
.dashboard-usuario .asset-title {
  font-weight: bold;
  margin-top: 5px;
}
.dashboard-usuario .asset-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.dashboard-usuario .asset-likes,
.dashboard-usuario .asset-views {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard-usuario .stat-icon {
  width: 20px;
  height: 20px;
}
@media (max-width: 1302px) {
  .dashboard-usuario .assets-grid .asset-item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 874px) {
  .dashboard-usuario .assets-grid .asset-item:nth-child(2) {
    display: none;
  }
  .dashboard-usuario .dashboard-izq .dashboard-historial {
    align-items: center;
  }
}
@media (max-width: 800px) {
  .search-container {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .search-container {
    width: 50%;
  }
  .dashboard-usuario .asset-item {
    padding: 5px;
    font-size: 0.8rem;
  }

  .dashboard-usuario .assets-grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); /* Reduce el tamaño de las columnas */
    gap: 0.5rem; /* Reduce el espaciado entre los elementos */
  }
}
@media (max-width: 400px) {
  .dashboard-usuario .assets-grid .asset-item:nth-child(1) {
    display: none;
  }
  .dashboard-usuario {
    flex-direction: column;
    align-items: center;
  }
  .dashboard-usuario .dashboard-izq .dashboard-historial {
    padding: 0px;
  }
  .dashboard-usuario .dashboard-dcha {
    width: 60%;
  }
}